@import '@/assets/styles/variables';

.button {
  cursor: pointer;

  width: $base * 25;
  height: $base * 8.5;

  background-color: $color-primary;
  border: 0;
  border-radius: $base * 20;

  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $color-yellow-100;
  }

  &:disabled {
    cursor: default;
    color: $color-white;
    background-color: $color-gray-100;
  }
}
