@import '@/assets/styles/variables';

.cart {
  width: $base * 92.5;
  height: $base * 63.5;

  color: $color-black-200;

  background-color: $color-white;
  border-radius: $base * 2.5;

  &Content {
    display: flex;
    flex-direction: column;
    gap: $base * 5;
    padding: $base * 5;
  }

  &Image {
    height: $base * 17.5;
  }

  &Image img {
    width: $base * 17.5;
    height: $base * 17.5;
    object-fit: cover;
    border-radius: 50%;
  }

  @media screen and (width <= 1290px) {
    width: $base * 82;
  }

  @media only screen and (max-width: $tablet) {
    width: $base * 86;
  }

  @media only screen and (max-width: $mobile) {
    width: $base * 86;
  }
}
