@import 'https://fonts.googleapis.com/css2?family=Nunito&display=swap';
@import './variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: $font-family;
  font-size: $base * 4;
  line-height: $base * 6.5;
  color: $color-black-200;

  background: $color-bg;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
