$color-white: rgb(255 255 255);
$color-black: rgb(0 0 0);

$color-black-100: rgb(0 0 0 / 25%);
$color-black-200: rgb(0 0 0 / 87%);

$color-primary: rgb(244 244 65 / 100%);
$color-secondary: rgb(0 189 211 / 100%);

$color-bg: rgb(248 248 248 / 100%);

$color-yellow-100: rgb(255 227 2);

$color-gray-100: rgb(180 180 180);
$color-gray-200: rgb(208 207 207);
$color-gray-300: rgb(126 126 126);

$color-red-100: rgb(203 61 64);

$base: 4px;
$font-family: 'Nunito', sans-serif;

$mobile: 768px;
$tablet: 1024px;
