$color-white: white;
$color-black: black;

$color-black-100: rgba(0, 0, 0, 0.25);
$color-black-200: rgba(0, 0, 0, 0.87);

$color-primary: rgba(244, 244, 65, 1);
$color-secondary: rgba(0, 189, 211, 1);

$color-bg: rgba(248, 248, 248, 1);

$color-yellow-100: #ffe302;

$color-gray-100: #b4b4b4;
$color-gray-200: #d0cfcf;
$color-gray-300: #7e7e7e;

$color-red-100: #cb3d40;

$base: 4px;
$font-family: 'Nunito', sans-serif;

$mobile: 768px;
$tablet: 1024px;
