@import '@/assets/styles/variables';

.welcome {
  position: relative;

  display: flex;
  justify-content: center;

  height: $base * 162.5;

  background-color: $color-black;

  &::before {
    content: '';

    position: absolute;
    inset: 0;

    background: url('@/assets/images/head-bg.webp') 0 0 / cover no-repeat;
    background-size: cover;
  }

  &Content {
    z-index: 3;

    max-width: $base * 95;
    margin-top: $base * 41;

    color: $color-white;
    text-align: center;

    @media only screen and (max-width: $tablet) {
      margin-top: $base * 22;
    }

    @media only screen and (max-width: $mobile) {
      max-width: $base * 82;
      margin-top: $base * 10;
    }
  }

  @media only screen and (max-width: $tablet) {
    height: $base * 125;
  }

  @media only screen and (max-width: $mobile) {
    height: $base * 125;
  }
}

.welcomeText {
  margin-bottom: $base * 8;

  > *:first-child {
    margin-bottom: 21px;
  }
}
